$color-blue-dark: #000f82cc;
$color-purple: #5643fa;
$color-gray: #7f8691;
$color-blue-dark-light: #09389b;

$color-blue:#2998ff;


$color-grey-dark: #777;
$color-gray-light:#E7E6E6;
$color-gray-light-2:#eeee;
$color-white: #ffffff;
$color-dark: #000;
$color-purple-light: #667eea;
$color-blue-light: #764ba2;
$color-dark-light: #333;
//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width-ruta:120rem;
$gutter-vertical-ruta: 8rem;
$gutter-horizontal-ruta: .2rem;

$grid-width-orga:160rem;
$gutter-vertical-orga: 3rem;
$gutter-vertical-orga-small: 2rem;
$gutter-horizontal-orga:1rem;
$gutter-horizontal-orga-small: 1rem;


$grid-width-home:160rem;
$gutter-vertical-home:1rem;
$gutter-vertical-home-small:1em;
$gutter-horizontal-home:3rem;
$gutter-horizontal-home-small:3rem;


//MIXINS