$color-blue-dark: #000f82cc;
$color-purple: #5643fa;
$color-gray: #7f8691;
$color-blue-dark-light: #09389b;

$color-blue:#2998ff;


$color-grey-dark: #777;
$color-gray-light:#f7f7f7;
$color-gray-light-2:#eeee;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;