$color-blue-dark: #000f82cc;
$color-purple: #5643fa;
$color-gray: #7f8691;
$color-blue-dark-light: #09389b;

$color-blue:#2998ff;


$color-grey-dark: #777;
$color-gray-light:#E7E6E6;
$color-gray-light-2:#eeee;
$color-white: #fff;
$color-dark: #000;
$color-dark-light: #333;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width:150rem;
$gutter-vertical: 26rem;
$gutter-horizontal: 1rem;