@use "../abstracts/variables" as variables;
.row-ruta {
  max-width: variables.$grid-width-ruta;
  background-color: variables.$color-white;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: variables.$gutter-vertical-ruta;
  }

  @mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  [class^="col-ruta"] {
    background-color: lightgray;
    float: left;

    &:not(:last-child) {
      margin: .5rem 4rem 4rem 1rem;
    }
  }

  .col-ruta-1-of-2 {
    width: calc((100% - #{variables.$gutter-horizontal-ruta}) / 2);
  }
  .col-ruta-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{variables.$gutter-horizontal-ruta}) / 3) + #{variables.$gutter-horizontal-ruta}
    );
  }
}


.row-orga {
  max-width: variables.$grid-width-orga;
  background-color: variables.$color-white;
  margin-top: 4rem !important;

  &:not(:last-child) {
    margin-bottom: variables.$gutter-vertical-orga;
  }

  @mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  [class^="col-orga"] {
    background-color: rgba(variables.$color-gray-light, 50%);
    float: left;

    &:not(:last-child) {
      margin: 2rem 1rem 1rem 2rem;
    }
  }

  .col-orga-1-of-2 {
    width: calc((100% - #{variables.$gutter-horizontal-orga}) / 2);
  }

    .col-orga-1-of-3 {
    width: calc((100% - 2 * #{variables.$gutter-horizontal-orga}) / 3);
    
  }
  .col-orga-1-of-4 {
    width: calc(((100% - 3 * #{variables.$gutter-horizontal-orga}) / 4));
  }
  .col-orga-1-of-5 {
    width: calc(((100% - 4 * #{variables.$gutter-horizontal-orga}) / 5));
  }
}

