@use "../abstracts/variables" as variables;

.header-ruta {
    height: 8vh;
    background-color: variables.$color-gray-light;
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.header-home {
    height: 120vh;
    background-image: linear-gradient(
            to top right,
            rgba(variables.$color-blue, 0.5),
            rgba(variables.$color-purple, 0.8)
        ),
        url(../../images/BG4.jpg);

    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
