@use "../abstracts/variables" as variables;

.section-orga {
  height: 91vh;
  display: block;
  background-size: cover;
  padding: 2em 2rem;
}

.orga {
  padding-left: 6rem;
  line-height: 1.7;
  height: 12rem;
  display: table;

  &__logo__staff {
    padding-top: 2rem;
    float: left;
    vertical-align: middle;

  }

  &__logo_normal {
    padding-top: 2rem;
    vertical-align: middle;
    float: left;

  }
}
.worker{
  max-width: 100%;
  display: block;
}
