@use "../abstracts/variables" as variables;

.section-orga {
  height: 90vh;
  display: block;
  background-size: cover;
  padding: 6em 4rem;
}

.orga {
  display: table;
  &__staff {
  padding-top: 2rem;
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
  }

  &__logo__staff {
  padding-top: 2rem;

    width: 30%;
    padding: 10px;
    float: left;
  }
  &__logo_normal {
  padding-top: 2rem;
    
    width:100%;
    vertical-align:middle;
  }
}
