@use "../abstracts/variables" as variables;

.section-orga {
  height: 91vh;
  display: block;
  background-size: cover;
  padding: 5em 4rem;
}

.orga {
  margin-left: 5rem;
  display: table;

  &__logo__staff {
    padding-top: 2rem;

    width: 20%;
    float: left;
  }

  &__logo_normal {
    padding-top: 2rem;
    width: 20%;
    vertical-align: middle;
  }
}
