@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include mixin.respond(big-dek){
        font-size: 70%;
    }
    @include mixin.respond(tab-land){
        font-size: 56.25%;
    }
    @include mixin.respond(tab-port){
        font-size: 50%;
    }
    @include mixin.respond(phone){
        font-size: 30%;
    }
    

    
}

body {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}