@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
    font-family: "Kalam", sans-serif;
    font-weight: 900    ;
    line-height: 1.7;
}

.header-primary{
    color: $color-white;
    text-transform: uppercase;

    --webkit-backface-visibility: hidden;
    margin-bottom:  1rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2.5rem;

        animation: moveInLeft 1s ease-out;
        
        @include respond(tab-land){
            letter-spacing: 2rem;
        }
        @include respond(tab-port){
            letter-spacing: 1rem;
        }
        @include respond(phone){
            letter-spacing: .5rem;
        }

    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }

}
.header-primary-ruta{
    color: $color-dark-light;
    text-transform: uppercase;

    --webkit-backface-visibility: hidden;
    margin-bottom: 1rem;

}
.header-secondary{
    color: $color-dark-light ;
    -webkit-text-stroke: 2px #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    --webkit-background-clip: text;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2def) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgb($color-dark, .2);
    }
}
.header-orga{
    word-wrap: break-word;
    color: $color-gray-light ;
    -webkit-text-stroke: 1px $color-dark ;
    padding-left: .4px;
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    --webkit-background-clip: text;
    letter-spacing: .2rem;
    width: 80%;
}
.header-orga-staff{
    word-wrap: break-word;
    color: $color-gray-light ;
    -webkit-text-stroke: 1px $color-dark ;
    padding-left: 2rem;
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    --webkit-background-clip: text;
    letter-spacing: .2rem;
    width: 80%;
}

.section-home{
    text-decoration: none;
    word-wrap: break-word;
    color: $color-gray-light ;
    -webkit-text-stroke: 1px $color-dark ;
    padding-left: .4px;
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    --webkit-background-clip: text;
    letter-spacing: .2rem;
}